*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100%;
}
.card{
background-color: pink;
border-radius: 10px;
margin: 20px;
padding: 20px;
}
.navbar{
  background-color: lightskyblue;
  padding: 15px;
  margin: 5px;
}