body{
 height: 100%;
 width: 100%;
}
.nav{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(138, 167, 235);
}
.nav div{
    display: flex;
    align-items: center;
    gap: 40px;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    text-decoration: underline;
}