*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#formOne{
  padding: 20px;
  margin: 5px 10px;
}

input,button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
  border-color: blueviolet;
}